<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72444467163-4qttp8nmgrt4ij7fl6ar3jc6ls4mjvdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72444467163-4qttp8nmgrt4ij7fl6ar3jc6ls4mjvdf</string>
	<key>API_KEY</key>
	<string>AIzaSyBnm42rEwuYcc7nHpuaemRkKahUDwnOjQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>72444467163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnhrapp.app</string>
	<key>PROJECT_ID</key>
	<string>rnhrapp-20170</string>
	<key>STORAGE_BUCKET</key>
	<string>rnhrapp-20170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72444467163:ios:852f1ec22eacedbddff9fe</string>
	<key>DATABASE_URL</key>
	<string>https://rnhrapp-20170.firebaseio.com</string>
</dict>
</plist>